* {
    font-family: 'Roboto', sans-serif;
}

.header{
    background-image: url('/images/backgrounds/h_img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    text-transform: uppercase;
    color: white;
}

.header-container{
    padding-top: 100px;
}

.about-us{
    padding: 20px;
    height: 350px;
}

.services{
    background-image: url('/images/backgrounds/s_image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    color: white;

}

.services >.container{

    padding-top: 10%;

}

.center-div{
    margin: 20px auto;
    width: 80%;
    
}

.contact-us{
    background-image: url('/images/backgrounds/c_image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    color: white;

}

.transparent-input{
    background-color: rgba(0, 0, 0, 0);
    border:white 1px solid;
    background:transparent;
    border-radius: 0px 0px 0px 0px ;
    outline: 0px none;


}

.transparent-input::placeholder { 
    color: white;
    opacity: 1; 
  }
.transparent-input:focus{
    background: transparent;
    color: white;
    outline: 0px none;

}

li{
    display: inline-block;
}

span{
    font-size: 36px;
    margin: 0px 8px 0px 8px;
}
.copyright{
    font-size: 18px;
    line-height: 0px;
    border: 1px;
}

.design-icon,.development-icon,.product-icon{
    font-size: 48px;
    margin: 8px 0px 8px 0px;
} 
h5{
    font-weight: bold;
}

.hide-info{
    display: none;
}
/* .overlay{
    
    
 background-color: rgba(50,50,50,1);
 position: absolute;
 height: 100%;
 width: 100%;
 overflow: hidden;
 top: 0;
 left: 0;
 display: none;
 z-index: 1;

} */

